
.container .player .large-toggle-btn .large-play-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: -50%;
}
.container .player .large-toggle-btn .large-play-btn:before {
  content: "\0025B7";
  font: 6.5em/6.75 "FontAwesome";
}
.container .player .large-toggle-btn .large-pause-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: -50%;
}
.container .player .large-toggle-btn .large-pause-btn:before {
  content: "\0025EB";
  font: 6.5em/6.75 "FontAwesome";
} 
.container {
    font-family: arial, helvetica, sans-serif;
    font-size: 1em;
    margin: auto;
    width: 1300px;
}

.player {
      display: flex;
        min-height: 500px;
        margin: auto;
        width: 1300px;
        border-bottom: 2px solid #A29EFE;
        background: linear-gradient(-45deg, #52c6ee, #563de7, #75cae2, #3d06e9);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        box-shadow: -1px -21px 8px 0 rgba(0, 0, 0, 0.2), -1px -33px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        align-content: center;
    }

.player .large-toggle-btn {
          /*border: 1px solid #d9d9d9;*/
          border-radius: 2px;
          float: left;
          width: 300px;
          height: 300px;
          margin: 100px 10px 0 0;
          overflow: hidden;
          position: relative;
          text-align: center;
          vertical-align: bottom;
        }

.player .large-toggle-btn .screen-reader-text {
  font-size: 2em;
}

/*.large-play-btn:before {
              content: "\f04b";
              font: 1.5em/1.75 "FontAwesome";
            }               
            
    
.large-pause-btn:before {
              content: "\f04c";
              font: 1.5em/1.75 "FontAwesome";
            } */  
                        
.info-box
{
  margin-top:250px;
}
 .play-box .info-box 
 {
        bottom: 10px;
        left: 65px;
        width: 1000px;
        position: absolute;
        top: 15px;
}
.play-box .track-info-box {
          float: left;
          font-size: 12px;
          margin: 0 0 6px 0;
          visibility: hidden;
          width: 400px; 
}
.play-box .track-title-text {
            display: inline-block;
          }
.play-box .audio-time {
            display: inline-block;
            padding: 0 0 0 5px;
            width: 80px;
          }

.controls-box
{
  margin-top: 233px;
}

.controls-box i{
  margin-left: 70px;
  font-size: 6em;
}

.progress-box {
        float: left;
        min-width: 270px;
        position: relative;
}
.progress-box .progress-cell {
          height: 12px;
          position: relative;
}
.progress-box .progress {
            background: black;
            border: 1px solid #757575;
            height: 8px;
            position: relative;
            width: 500px;
}
.progress-box .progress-buffer {
              background:#6F52FD;
              height: 100%;
              width: 0;
}

.progress-box .progress-indicator 
{
background: #fff;
border: 1px solid #bebebe;
border-radius: 3px;
cursor: pointer;
height: 10px;
left: 0;
overflow: hidden;
position: absolute;
top: -2px;
width: 22px;
}

.prgoress-box .controls-box {
        bottom: 10px;
        left: 350px;
        position: absolute; 
      }
.prgoress-box .previous-track-btn {
          content: "\f049";
          font: 1em "FontAwesome";       
          cursor: pointer;
          display: inline-block;
        }
.prgoress-box .next-track-btn {
          content: "\f050";
          font: 1em "FontAwesome";
          cursor: pointer;
          display: inline-block;        
        }           


    .play-list {
      display: block;
      margin: 0px auto 0px auto;
      width: 100%;
    }
      .play-list-row {
       /* display: flex;
        margin: 10px 0;
        width: 100%;*/
    display: flex;
    min-height: 500px;
    margin: auto;
    width: 100%;
    border-bottom: 2px solid #A29EFE;
    background: linear-gradient(-45deg, #52c6ee, #563de7, #75cae2, #3d06e9);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    box-shadow: -1px -21px 8px 0 rgba(0, 0, 0, 0.2), -1px -33px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    align-content: center;
      }

.track-title .playlist-track:hover {
            transform: line;
            color: white;
            text-decoration: none;
          }

        
.small-toggle-btn {
          opacity: 0%;
          border: 1px solid #d9d9d9;
          border-radius: 2px;
          cursor: pointer;
          display: inline-block;
          height: 20px;
          width: 100px;
          margin-right: 10px;
          margin-left: 280px;
          overflow: hidden;
          position: relative;
          text-align: center;
          vertical-align: middle;
        }

.small-play-btn:before {
              content: "\f04b";
              font: 0.85em "FontAwesome";        
            display: inline-block;
          } 
.small-pause-btn:before {
              content: "\f04c";
              font: 0.85em "FontAwesome";        
            display: inline-block;
          }         
        
        .track-number {
        display: inline-block;
        width: 5px;
        margin-top: 150px;
        opacity: 0%;
        }

        .track-title {
        display: inline-block;
        width: 500px;
        margin-top: 150px;
        }

        a{
          color:black;
        }

.playlist-track {
            text-decoration: none;
            font-size: 4em;
          }
.playlist-track:hover {
              text-decoration: underline;
            }

.track-title .active-track {
          font-weight: bold;
        }

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }