* {    
  box-sizing: border-box;   
  margin: 0;    
  padding: 0;  
}

body
{
	background-color:#010101;
	align-items: center;
	height: 100%;
 	margin: 0;
}
									/*présentation*/

.corps .intro 
{
	display: grid;
	margin: auto;
	width: 1300px;
	background-color: #FFA4E6;
	text-align: center;
	align-content: center;
}

.corps .intro .intro_titre 
{
	display: block;
	color: black;
	width: 50px;
	font-family: Montserrat,sans-serif;
	font-size: 1.5em;
	margin-left:20px;
	margin-right:20px;
}



									/*présentation*/

.corps .présent
{
	display: flex;
	margin: auto;
	width: 1300px;
	background-image: url('image_Charlie/debut.jpg');
	background-size: 100%;
	height: 80em;
	align-items: center;
	align-content: center;
}

.corps .présent .centre 
{
	z-index: 1;
	display: flex;
	margin-top: 1150px;
	margin-left: 150px;
	margin-bottom: 80px;
	border-radius: 13px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #A29EFE;
	align-items: center;
	align-content: center;
	transform: rotate(-9deg);
	transition: width 2s, height 2s, background-color 4s, transform 3s;
}

.corps .présent .centre:hover 
{
	transform: rotate(5deg);
}

.corps .présent .centre .centre_text
{
display: block;
margin: 30px;
text-align: left;
align-content: center;
}

.corps .présent .centre .img_centre
{
	border-top-right-radius: 13px;
	border-bottom-right-radius: 13px;
}

.corps .présent .centre .centre_text .Bienvenue
{
	display: block;
	color: white;
	width: 5em;
	font-family: Montserrat,sans-serif;
	font-size: 5em;
	margin:20px;
}

										/*album*/

/*chanson1*/

.audio
{
	display: flex;
	height: 400px;
	margin: auto;
	width: 1300px;
	border-bottom: 2px solid #A29EFE;
	background: linear-gradient(-45deg, #ee52e7, #563de7, #e275e1, #e906e6);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	text-align: center;
	align-content: center;
}

.player{
        /*position: absolute; top: 0px; left: 0px;*/
        display: grid;
        min-height: 600px;
        margin: auto;
        width: 1300px;
        border-bottom: 2px solid #A29EFE;
        background: linear-gradient(-45deg, #ee52e7, #563de7, #e275e1, #e906e6);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        box-shadow: -1px -21px 8px 0 rgba(0, 0, 0, 0.2), -1px -33px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        align-content: center;
    }

    #myAudio{
        margin-left: 560px;
        padding-top: 200px;
        padding-bottom: 200px;
    }

    #music-list-div{
        /*transition: ease 2s;*/
    }

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

    #music-list{
    list-style: none;
    display: block;
    color: black;
    width: 1300px;
    font-family: Montserrat,sans-serif;
    font-size: 5em;
    margin-block-start:0em;
    margin-block-end:0em;
    padding-inline-start:0px;
    }

    li{ 
    display: grid;
    min-height: 400px;
    margin: auto;
    width: 100%;
    border-bottom: 2px solid #A29EFE;
    background: linear-gradient(-45deg, #ee52e7, #563de7, #e275e1, #e906e6);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    box-shadow: -1px -21px 8px 0 rgba(0, 0, 0, 0.2), -1px -33px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    align-content: center;
    }
									/*articles*/


.article 
{
	display: grid;
	height: 500px;
	margin: auto;
	width: 1300px;
	background-color:#A29EFE;
	text-align: center;
	align-content: center;
	box-shadow: -1px -21px 8px 0 rgba(0, 0, 0, 0.2), -1px -33px 20px 0 rgba(0, 0, 0, 0.19);
}

.article .intro_article
{
	display: block;
	color: white;
	font-family: Montserrat,sans-serif;
	font-size: 5em;
	margin:20px;
}

.article .prés
{
	display: block;
	color: white;
	font-family: Montserrat,sans-serif;
	font-size: 2em;
	margin:20px;
}

.article_artiste
{
	display: grid;
	min-height: 500px;
	margin: auto;
	width: 1300px;
	background-color:black;
	text-align: center;
	align-content: center;
}

.article_artiste .img_artiste1
{
	margin: 40px;
	margin-left: 160px;
	margin-top: 100px;
}

.article_artiste .parag_article_artiste
{
	display: block;
	width: 1000px;
	margin-bottom: 20px;
	margin-left:140px;
	text-align: left;
	align-content: center;
}

.article_artiste .parag_article_artiste .parag_article_artiste_text
{
	display: block;
	color: white;
	width: 1000px;
	font-family: Montserrat,sans-serif;
	font-size: 3em;
	margin:20px;
	text-align: justify;
}

.premier_article
{
	display: flex;
	margin: auto;
	width: 1300px;
	background-color: black;
	text-align: center;
	align-content: center;
}

.premier_article .premier_article_1
{
	display: block;
	width: 700px;
	margin: auto;
	background-color:black;
	text-align: center;
	align-content: center;
}

.premier_article .premier_article_1 .img_article1
{
	margin-top: 120px;
}

.premier_article .premier_article_1 .article1
{
	display: block;
	width: 500px;
	margin: auto;
	margin-left: 80px;
	text-align: left;
	align-content: center;
}

.premier_article .premier_article_1 .article1 .premier_article_text1
{
	display: block;
	color: white;
	font-family: Montserrat,sans-serif;
	font-size: 3em;
	margin:20px;
	text-align: justify;
}


.premier_article .premier_article_2
{
	display: block;
	width: 700px;
	margin: auto;
	background-color:black;
	text-align: center;
	align-content: center;
}

.premier_article .premier_article_2 .img_article2
{
	margin: 50px;
}

.premier_article .premier_article_2 .article2
{
	display: block;
	width: 500px;
	margin: auto;
	margin-left: 80px;
	text-align: left;
	align-content: center;
}

.premier_article .premier_article_2 .article2 .premier_article_text2
{
	display: block;
	color: white;
	font-family: Montserrat,sans-serif;
	font-size: 3em;
	margin:20px;
	text-align: justify;
}

.deuxième_article
{
	display: flex;
	margin: auto;
	width: 1300px;
	background-color: black;
	text-align: center;
	align-content: center;
}

.deuxième_article .deuxième_article_1
{
	display: block;
	width: 700px;
	margin: auto;
	background-color:black;
	text-align: center;
	align-content: center;
}

.deuxième_article .deuxième_article_1 .img_deuxième_article1
{
	margin: 50px;
}

.deuxième_article .deuxième_article_1 .d_article1
{
	display: block;
	width: 500px;
	margin: auto;
	margin-left: 80px;
	text-align: left;
	align-content: center;
}

.deuxième_article .deuxième_article_1 .d_article1 .deuxième_article_text1
{
	display: block;
	color: white;
	font-family: Montserrat,sans-serif;
	font-size: 3em;
	margin:20px;
	text-align: justify;
}


.deuxième_article .deuxième_article_2
{
	display: block;
	width: 700px;
	margin: auto;
	background-color:black;
	text-align: center;
	align-content: center;
}

.deuxième_article .deuxième_article_2 .img_deuxième_article2
{
	margin: 50px;
}

.deuxième_article .deuxième_article_2 .d_article2
{
	display: block;
	width: 500px;
	margin: 20px;
	margin-left: 80px;
	text-align: center;
	align-content: center;
}

.deuxième_article .deuxième_article_2 .d_article2 .deuxième_article_text2
{
	display: block;
	color: white;
	font-family: Montserrat,sans-serif;
	font-size: 3em;
	margin:20px;
	text-align: justify;
}

.article_artiste2
{
	display: block;
	margin: auto;
	width: 1300px;
	background-color: black;
	text-align: center;
	align-content: center;
}

.article_artiste2 .img_artiste12
{
	margin: 40px;
	margin-left: 45px;
}

.article_artiste2 .parag_article_artiste2
{
	display: block;
	width: 1000px;
	margin-left:140px;
	text-align: left;
	align-content: center;
	margin-bottom:700px;
}

.article_artiste2 .parag_article_artiste2 .parag_article_artiste_text2
{
	display: block;
	color: white;
	width: 1000px;
	padding-bottom: 100px;
	font-family: Montserrat,sans-serif;
	font-size: 3em;
	margin:20px;
	text-align: justify;
}

.justif_color 
{
	display: grid;
	min-height: 1000px;
	margin: auto;
	width: 1300px;
	background-color:#B1A0D6;
	text-align: center;
	align-items: center;
	align-content: center;
}

.justif_color .justif_color_titre
{
	display: block;
	color: #1D172A;
	font-family: Montserrat,sans-serif;
	font-size: 5em;
	margin:20px;
	margin-top: 300px;
	margin-bottom: 100px;
}

.justif_color .justif_color_text
{
	display: block;
	color: #1D172A;
	width: 900px;
	font-family: Montserrat,sans-serif;
	font-size: 3em;
	margin:20px;
	margin-left: 200px;
	margin-bottom:500px;
	text-align: justify;
}


.corps .présent2
{
	display: flex;
	margin: auto;
	width: 1300px;
	background-color:black;
	background-size: 100%;
	height: 0em;
	align-items: center;
	align-content: center;
}

.corps .présent2 .centre2 
{
	display: flex;
	width:900px;
	height: 530px;
	margin-top: 0px;
	margin-left: 200px;
	margin-bottom: 200px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 12px 8px 20px 0 rgba(0, 0, 0, 0.19);
	background-image: url('image_Charlie/IMG_3855.jpeg');
	background-size: 100%;
	align-items: center;
	align-content: center;
	transform: rotate(-9deg);
	transition: width 2s, height 2s, background-color 2s, transform 3s;
}

.corps .présent2 .centre2:hover 
{
	transform: rotate(5deg);
}

.espace 
{
	display: grid;
	height: 1000px;
	margin: auto;
	width: 1300px;
	background-color:black;
	text-align: center;
	align-content: center;
}
									/*mes artsites*/

.artiste 
{
	display: grid;
	height: 500px;
	margin: auto;
	width: 1300px;
	background-color:#A29EFE;
	text-align: center;
	align-content: center;
}

.artiste .intro_artiste
{
	display: block;
	color: white;
	font-family: Montserrat,sans-serif;
	font-size: 5em;
	margin:20px;
}

.artiste .pré
{
	display: block;
	color: white;
	font-family: Montserrat,sans-serif;
	font-size: 3em;
	margin:20px;
}



.img_artistes
{
	display: flex;
	margin: auto;
	width: 1300px;
	background-color: #A285F6;
	text-align: center;
	box-shadow: 0 20px 8px 0 rgba(0, 0, 0, 0.2), 0 -17px 20px 0 rgba(0, 0, 0, 0.19);
	align-content: center;
}

.img_artistes .img_artistes1
{
	display: block;
	width: 400px;
	height: 600px;
	border-radius:10px;
	margin: 20px 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 50px;
	margin-bottom: 50px;
	background-image: url(image_fcgi/Lomepal.png);
	background-size: 100%;
	text-align: center;
	align-content: center;
}

.img_artistes .img_artistes1 .nom1
{
	display: block;
	color: white;
	font-family: Montserrat,sans-serif;
	font-size: 3em;
	margin:20px;
	padding-top: 500px;
}

.img_artistes .img_artistes2
{
	display: block;
	width: 400px;
	height: 600px;
	border-radius:10px;
	margin: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 50px;
	margin-bottom: 50px;
	background-image: url(image_fcgi/Népal.png);
	background-size: 100%;
	text-align: center;
	align-content: center;
}

.img_artistes .img_artistes2 .nom2
{
	display: block;
	color: white;
	font-family: Montserrat,sans-serif;
	font-size: 3em;
	margin:20px;
	padding-top: 500px;
}

.img_artistes .img_artistes3
{
	display: block;
	width: 400px;
	height: 600px;
	border-radius:10px;
	margin: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
	margin-top: 50px;
	margin-bottom: 50px;
	background-image: url(image_Charlie/IMG_3855.jpeg);
	background-size: 100%;
	text-align: center;
	align-content: center;
}

.img_artistes .img_artistes3 .nom3
{
	display: block;
	color: white;
	font-family: Montserrat,sans-serif;
	font-size: 3em;
	margin:20px;
	padding-top: 500px;
}

.écoute
{
	display: grid;
	min-height: 500px;
	margin: auto;
	width: 1300px;
	background-color:#DCD6FE;
	text-align: center;
	box-shadow: 0 20px 8px 0 rgba(0, 0, 0, 0.2), 0 -17px 20px 0 rgba(0, 0, 0, 0.19);
	align-content: center;
}

.écoute .écoute_text
{
	display: block;
	width: 700px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left:100px;
	text-align: left;
	align-content: center;
}

.écoute .écoute_text .écoute_text_tirte
{
	display: block;
	color: black;
	font-family: Montserrat,sans-serif;
	font-size: 5em;
	margin:20px;
}

.écoute .écoute_text .écoute_text_text
{
	display: block;
	color: black;
	font-family: Montserrat,sans-serif;
	font-size: 3em;
	margin:20px;
	text-align: justify;
}

.écoute2
{
	display: grid;
	min-height: 500px;
	margin: auto;
	width: 1300px;
	background-color:#DCD6FE;
	text-align: center;
	align-content: center;
}

.écoute2 .écoute2_text
{
	display: block;
	width: 1000px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left:100px;
	text-align: left;
	align-content: center;
}


.écoute2 .écoute2_text .écoute2_text_text
{
	display: block;
	color: black;
	font-family: Montserrat,sans-serif;
	font-size: 3em;
	margin:20px;
	text-align: justify;
}
									/*mon feed*/

.feed1 
{
	display: grid;
	height: 500px;
	margin: auto;
	width: 1300px;
	background-color:#A29EFE;
	text-align: center;
	align-content: center;
}

.feed1 .intro_feed
{
	display: block;
	color: white;
	font-family: Montserrat,sans-serif;
	font-size: 5em;
	margin:20px;
}

.feed1 .pré_feed
{
	display: block;
	color: white;
	font-family: Montserrat,sans-serif;
	font-size: 3em;
	margin:20px;
}

.img_feed
{
	display: flex;
	margin: auto;
	width: 1300px;
	background-color: #F0F3F4;
	text-align: center;
	align-content: center;
}

.img_feed .img_feed1
{
	margin:20px 13px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img_feed .img_feed2
{
	margin:20px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img_feed .img_feed3 
{
	margin: 20px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}





.feed_text
{
	display: flex;
	margin: auto;
	width: 1300px;
	background-color:#F0F3F4;
	text-align: center;
	align-content: center;
}

.feed_text .feed_text1
{
	display: block;
	width: 400px;
	margin: 20px;
	margin-top: 50px;
	text-align: center;
	align-content: center;
}

.feed_text .feed_text1 .réseaux1
{
	display: block;
	color: black;
	font-family: Montserrat,sans-serif;
	font-size: 3em;
	margin:20px;
}

.feed_text .feed_text2
{
	display: block;
	width: 400px;
	margin: 20px;
	margin-top: 50px;
	text-align: center;
	align-content: center;
}

.feed_text .feed_text2 .réseaux2
{
	display: block;
	color: black;
	font-family: Montserrat,sans-serif;
	font-size: 3em;
	margin:20px;
}

.feed_text .feed_text3
{
	display: block;
	width: 400px;
	margin: 20px;
	margin-top: 50px;
	text-align: center;
	align-content: center;
}

.feed_text .feed_text3 .réseaux3
{
	display: block;
	color: black;
	font-family: Montserrat,sans-serif;
	font-size: 3em;
	margin:20px;
}



.désc_feed1
{
	display: grid;
	min-height: 500px;
	margin: auto;
	width: 1300px;
	background-color:#DCD6FE;
	text-align: center;
	box-shadow:0 20px 8px 0 rgba(0, 0, 0, 0.2), 0 -17px 20px 0 rgba(0, 0, 0, 0.19);
	align-content: center;
}

.désc_feed1 .désc_feed1_text
{
	display: block;
	width: 700px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left:100px;
	text-align: left;
	align-content: center;
}

.désc_feed1 .désc_feed1_text .désc_feed1_text_tirte
{
	display: block;
	color: black;
	font-family: Montserrat,sans-serif;
	font-size: 5em;
	margin:20px;
}

.désc_feed1 .désc_feed1_text .désc_feed1_text_text
{
	display: block;
	color: black;
	font-family: Montserrat,sans-serif;
	font-size: 3em;
	margin:20px;
	text-align: justify;
}

.désc_feed2
{
	display: grid;
	min-height: 500px;
	margin: auto;
	width: 1300px;
	background-color:#DCD6FE;
	text-align: center;
	align-content: center;
}

.désc_feed2 .désc_feed2_text
{
	display: block;
	width: 1000px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left:100px;
	text-align: left;
	align-content: center;
}


.désc_feed2 .désc_feed2_text .désc_feed2_text_text
{
	display: block;
	color: black;
	font-family: Montserrat,sans-serif;
	font-size: 3em;
	margin:20px;
	text-align: justify;
}
									/*conclusion*/

.conclusion
{
	display: flex;
	margin: auto;
	width: 1300px;
	background-color:#A29EFE;
	align-items: center;
	align-content: center;
}

.conclusion .conclusion_centre 
{
	display: flex;
	margin-top: 80px;
	margin-left: 100px;
	margin-bottom: 80px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #F4F6F7;
	align-items: center;
	align-content: center;
	border-radius: 13px;
}

.conclusion .conclusion_centre .conclusion_centre_text
{
display: block;
width: 550px;
margin: 30px;
text-align: left;
align-content: center;
}

.conclusion .conclusion_centre .img_conclusion
{
	border-top-right-radius: 13px;
	border-bottom-right-radius: 13px;
}

.conclusion .conclusion_centre .conclusion_centre_text .salut
{
	display: block;
	color: #A29EFE;
	width: 3em;
	font-family: Montserrat,sans-serif;
	font-size: 4em;
	margin:20px;
}
									/*fin*/


.fin
{
	display: flex;
	margin: auto;
	width: 1300px;
	background-color: black;
	align-items: center;
	align-content: center;
}

.fin .img_fin
{
	margin:10px;
}

.fin .text_fin
{
	display: grid;
	margin: auto;
	margin-left: 0px;
	background-color:black;
	text-align: center;
	align-content: center;
}

.fin .text_fin .propri
{
	display: block;
	color: white;
	width: 7em;
	font-family: Montserrat,sans-serif;
	font-size: 1.2em;
	margin:20px;
}

.fin .text_fin1
{
	display: grid;
	margin: auto;
	margin-left: 300px;
	background-color:black;
	text-align: center;
	align-content: center;
}

.fin .text_fin1 .contact
{
	display: block;
	color: white;
	width: 3em;
	font-family: Montserrat,sans-serif;
	font-size: 1.2em;
	margin:20px;
}

.fin .text_fin2
{
	display: grid;
	margin: auto;
	margin-left: 300px;
	background-color:black;
	text-align: center;
	align-content: center;
}

.fin .text_fin2 .CGU
{
	display: block;
	color: white;
	width: 3em;
	font-family: Montserrat,sans-serif;
	font-size: 1.2em;
	margin:20px;
}


